.app-nav {
	.navbar {
		.navbar-header {
			.navbar-brand {
				img {
					max-height: 30px;
				}
			}
		}
		.nav {
			&.navbar-nav {
				li {
					a {
						.glyphicon {
							position: relative;
							font-size: 1.125em;
							&:before {
								position: relative;
								top: 2px;
							}
						}
					}
				}
				& > li {
					& > a {
						padding: 2em 1.5em;
					}
				}
			}
		}
	}
}