.app-nav {
	.navbar {
		padding: 0 15px;
		margin-bottom: 1em;
		border-radius: 0 0 3px 3px;
		.navbar-header {
			.navbar-brand {
				height: 100%;
				padding: 1em 0;
				img {
					max-height: 27px;
				}
			}
		}
		.nav {
			&.navbar-nav {
				li {
					a {
						.glyphicon {
							position: relative;
							font-size: 1.125em;
							&:before {
								position: relative;
								top: 2px;
							}
						}
					}
				}
				& > li {
					& > a {
						padding: 2em 1.5em;
					}
				}
			}
		}
	}
}