// @include "compass/reset";

.logo-header {
	margin-bottom: 0.5em;
}

.action-bar {
	padding: 1em 0;
	border-top: 1px solid #4E5D6C;
	border-bottom: 3px solid #4E5D6C;
}

.add-new-pdf {
	span {
		margin-right: 0.5em;
	}
}
