<section class="main-app-container container">
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">PDF Elements</h3>
				</div>
				<div class="panel-body">
					<div class="row">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-8 app-toolbar">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-backward"></span> Undo
				</button>
				<button type="button" class="btn btn-default btn-sm">
					Redo <span class="glyphicon glyphicon-forward"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete Element">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Left">
					<span class="glyphicon glyphicon-align-left"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Center">
					<span class="glyphicon glyphicon-align-center"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Right">
					<span class="glyphicon glyphicon-align-right"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Justify Text">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Left">
					<span class="glyphicon glyphicon-list"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Center">
					<span class="glyphicon glyphicon-align-center"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Left">
					<span class="glyphicon glyphicon-align-bold"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Center">
					<span class="glyphicon glyphicon-align-italic"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Right">
					<span class="glyphicon glyphicon-align-right"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Justify Text">
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Left">
					<span class="glyphicon glyphicon-zoom-in"></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Align Center">
					<span class="glyphicon glyphicon-zoom-out"></span>
				</button>
			</div>
		</div>
	</div>
</section>